head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title SR OlD/NEW
body
  p SR updated by #{message.agent_name} for Dr #{message.doc_name}:
  p New SR: #{message.new_sr}
  p Old SR: #{message.old_sr} 
